@import "global/vars";
@import "global/fonts";

body {
  background: url("../images/cat.png") no-repeat;
}

h1 {
  font-family: "IntroRustG";
  color: black;
}

.example {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
